*{
	text-decoration:none;
	list-style: none;
	font-family: sans-serif;
}
html,body{
	padding: 0;
	margin: 0;
	width: 100%;
}
body{
	background-color: #fff;
}
header,main,nav{
	width: 1200px;
	margin:0 auto;
}
header{
	height: 60px;
	margin:30px auto 30px auto;
	line-height: 60px;
}