/* 网站标题 */
#site-title{
	font-size:30px;
	color: #888;
}
/* 顶部主导航 */
#main-nav{
	margin: 0;
	padding: 0;
	float: right;
	background-color: #fff;
	height: 60px;
	line-height: 60px;
}
#main-nav li{
	display: inline-block;
	width: 100px;
	height: 100%;
	text-align: center;
}
#main-nav a{
	color: #888;
}

/* 主体 */
/* 文章列表 */